<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WatchIT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <WatchIT.Properties.Settings>
            <setting name="frmMain_Location" serializeAs="String">
                <value>10, 10</value>
            </setting>
            <setting name="frmMain_Size" serializeAs="String">
                <value>400, 290</value>
            </setting>
            <setting name="Projects" serializeAs="String">
                <value/>
            </setting>
            <setting name="ckbBasename_Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="columnPath_Width" serializeAs="String">
                <value>295</value>
            </setting>
            <setting name="columnChanges_Width" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="frmInfo_Location" serializeAs="String">
                <value>10, 10</value>
            </setting>
            <setting name="frmInfo_Size" serializeAs="String">
                <value>400, 500</value>
            </setting>
            <setting name="lvPaths_Sorting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lvPaths_SortColumn" serializeAs="String">
                <value>0</value>
            </setting>
        </WatchIT.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
